doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Upload file
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/bootstrap-icons/bootstrap-icons.css')
    link(rel='stylesheet', href='/stylesheets/uploadManager.css')
    script(src="/javascripts/selectImage.js")
  block content
    div(class="container")
      div(class="row")
        div(class="col-sm-12", style="margin-top: 50px;")
          div(class="card")
            div(class="card-header") CodingNote
            div(class="card-body")
              h3(class="card-title")
                legend Upload file
                hr(class="mt-2 mb-3")
              form(action="/admin/uploadFile", method="POST", enctype="multipart/form-data")
                div(class="input-group mb-3")
                  input(type="file", class="form-control", name="upload")
                button(type="submit", class="btn btn-primary") Submit
        div(class="container mt-2")
          div(class="row")
            each file in uploadedfiles
              div(class="col-sm-2 mb-2") 
               div(class="file-item")
                  form(action="/admin/deleteFile/"+ file.name, method="post")
                    button(class="x-circle")
                      span
                        i(class="bi bi-x-circle-fill")
                  a(href=file.url, class="selected-image", onclick="return false", ondblclick=`returnFileUrl('/admin/uploadedFile/${file.name}')`, target="_blank")
                    img(src=file.url, class="figure-img img-fluid rounded")
