div(class="row desktop-navbar")
  div(class="col-md-10 mg-rl-auto")
      ul(id="navbarCono", class="navbar-header")
        each topic in topics
          li(class="navbar-item")
            if selectedTopic && selectedTopic.name === topic.name
              a(class="nav-link mg-l-pd-l-8 active", href=topic.path)=topic.label
            else
              a(class="nav-link mg-l-pd-l-8", href=topic.path)=topic.label
