@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/Lora/Lora-Regular.ttf') format('truetype');
}

:root {
	--font-family-sans-serif: Lora, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--font-family-monospace: Open Sans, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--white: #fff;
	--backdrop-color: #525252;
	--primary-color: #090909;
	--secondary-color: #4a4a4a;
  --selected-topic-color: #dce6f0;
}

html {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--backdrop-color);
	font-family: "Lora", sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

 #main-view {
  width: 70%;
	/* background-image: url('/images/bg_4.png'); */
  background-color: white;
	background-size: 5px;
	min-height: 100vh;
}

#header {
   position: relative;
}

#header .header-menu {
   position: absolute;
   right: 30px;
   z-index: 999;
}

#header .header-menu .btn-sign-out {
	padding: 0;
	color: var(--secondary-color);
	text-decoration: none;
}

#header .header-menu .dropdown-item {
	padding: 3px 1rem;
}

#header .header-menu .dropdown-toggle {
	 color: var(--secondary-color) !important;
	 padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   display: block;
}

#header .header-menu .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: 0;
    content: "";
    border-top: 0.55em solid;
    border-right: .25em solid transparent;
    border-bottom: 0;
    border-left: .25em solid transparent;
}

#header .search-form {
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 64px;
}
#header .search-form-desktop {
  position: absolute;
  width: 32%;
  top: 40px;
  right: 0;
}

#header .search-form > input[type='text'],
#header .search-form-desktop > input[type='text']{
  height: 32px;
  border-radius: 4px;
  margin-left: 15px;
}

#header .search-form > span,
#header .search-form-desktop > span {
	position: absolute;
  right: 10px;
  top: 5px;
  z-index: 99;
}

#header .header-menu {
  position: relative;
  right: unset;
  display: flex;
  width: 100%;
  margin: 0 15px;
}

#header .header-menu .menu-nav {
  width: 20%;
  margin: auto;
}

#header .header-menu .menu-nav .side-navbar {
  width: 100%;
  position: absolute;
  margin: 0;
  background-color: #fff;
}

#header .header-menu .menu-nav .side-navbar .navbar-item {
  width: 100%;
}

#header .header-menu .menu-nav .side-navbar .navbar-item a {
  font-size: 16px;
  display: block;
  height: 32px;
  width: auto;
  text-transform: uppercase;
  color: #000;
}

#header .header-menu .menu-nav > a {
  font-size: 2em;
  display: block;
  height: 48px;
  width: 48px;
  color: #000;
}

#header .header-menu .logo-nav {
  width: 80%;
}

#header .header-menu .logo-nav .nav-link{
  margin: auto;
}

#header .header-menu .logo-nav img {
  margin: 0 auto;
  display: block;
}

#header .header-menu .search-field {
  width: 20%;
  margin: auto;
  position: relative;
}

#header .header-menu .search-field .search-form {
  position: absolute;
}

#header .header-menu .search-field .search-form-desktop {
  display: block;
  margin: 0;
}

#header .header-menu .search-field>a {
  font-size: 1.5em;
  color: black;
  display: block;
  width: 32px;
  margin-left: auto;
}

#footer {
	min-height: 40px;
  background-color: var(--primary-color);
  text-align: center;
}

#footer .copy-right {
  display: inline-block;
  margin: auto;
}

#footer .copy-right a {
  color: var(--white);
}

.link-post-detail a, .action-groups a{
	color: var(--secondary-color);
}

img {
	width: 100%;
}

a.nav-link {
	max-width: 210px;
}

.logo img {
   max-height: 80px;
}

.logo-title {
	text-align: center;
}

.logo-title>span {
	font-size: 2rem;
	font-family: sans-serif;
	color: var(--secondary-color);
}

.navbar-header {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.navbar-header .navbar-item {
 display: inline-block;
}

.navbar-header .navbar-item .active{
  text-decoration: underline;
 } 

.navbar-header .navbar-item .nav-link {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: var(--primary-color);
}

.navbar .navbar-header {
  width: 100%;
}

.navbar .navbar-header .navbar-nav .active {
  background-color: var(--selected-topic-color);
  width: 100%;
}

.pd-1r {
	padding: 1rem;
}

.pd-r-2r {
	padding-right: 2rem;
}

.mg-lr-a {
	margin-left: auto;
	margin-right: auto;
}

.mg-b-1r {
	margin-bottom: 1rem;
}

.mg-rl--15 {
  margin: 0 -15px;
}

.mg-rl-auto {
  margin: 0 auto;
}

.post-item .defined-title {
   display: flex;
 }

.post-item .defined-title .btn{
  background-color: transparent;
}

.post-item .defined-title > span > i.bi-forward {
	color: var(--primary-color);
	background-color: #b5d4ff;
}

.not-found {
	text-align: center;
}

.login-form {
  width: 30%;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.login-form .login-logo .nav-link,
.login-form .navbar-header .nav-link {
  margin: 0 auto;
}

.login-form .login-logo .nav-link .logo img,
.login-form .navbar-header .nav-link .logo img {
  max-height: 80px;
  width: 120px;
}

.login-form label {
  display: block;
}

.login-form form .field {
  margin-bottom: 8px;
}

.login-form form .field input {
  width: 100%;
}

.login-form form input[type='submit']{
  margin-top: 8px;
}

.login-form .error-text > span {
	color: #e61515;
}

.article-post, .post-detail {
	min-height: calc(100vh - 102px);
}

.article-post h3, .create-post h3 {
  background: linear-gradient(to right, #090909 -40%, #fff 100%);
  color: #fff;
  padding: 2px 8px;
  margin-bottom: 16px;
  margin-top: -8px;
}

.article-post .btn, .post-detail .btn {
   padding: 0 4px;
   line-height: inherit;
   margin-bottom: 3px;
   background-color: #dfdfdf;
}

.post-detail  {
	position: relative;
}

.post-detail ul {
	word-break: break-word;
}

.post-detail .scroll-top {
  position: fixed;
  right: 68px;
  bottom: 40px;
  cursor: pointer;
  z-index: 999;
}

.post-detail .scroll-top > a{
  display: block;
}

.post-detail .scroll-top > a > span > i{
	font-size: 1.6rem;
	color: var(--primary-color);
}

.post-detail .scroll-top:active > a > span > i{
	color: #9e9fa0;
}

.post-detail .action-groups {
  top: -34px;
  right: 0;
}

.post-detail .post-content {
	margin-top: 16px;
	word-break: break-word;
}

.article-post .published-info, .post-detail .published-info  {
    font-size: .8rem;
    font-style: italic;
    color: #9b9fa4;
}
.article-post, .create-post {
  margin-top: 8px;
}

.post-detail .published-info {
	  margin-left: 0;
}

.navbar {
  flex-direction: column;	
}

.navbar-light .navbar-toggler {
   margin-right: auto;
}

.hljs {
	overflow: auto;
}

@media (min-width: 768px) {
	.collapse:not(.show) {
    display: block;
  }
  #header .header-menu .menu-nav,
  #header .header-menu .search-field {
    display: none;
  }

  #header .header-menu .logo-nav {
    width: 83.33333333%;
    margin: 0 auto;
    position: relative;
  } 
  #header .header-menu .logo-nav .dropdown {
    position: absolute;
    top: 0;
    right: 0;
  }
  #header .header-menu .header-menu {
    display: none;
  }
}

@media (max-width: 768px) {

  #main-view {
  	width: 100%;
  }
	
	.post-detail .scroll-top {
	  right: 2px;
	}
	
	.post-detail .scroll-top > a > span > i {
	 font-size: 1.6rem;
	 color: var(--primary-color);
  }
	
  .navbar-header {
    display: none;
  }
  
  .navbar-header {
    margin-top: 8px;
  }

  .w-100 {
    width: 32%!important;
  }
  
  .pd-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #header .search-form {
    width: calc(100% - 15px);
    margin-top: 0;
  }
  
  .logo img {
    max-height: 50px;
    width: 100px;
  }

  .login-form {
    width: 100%;
  }
  .search-form-desktop, .user-menu-desktop {
    display: none;
  }
}

.pd-t-16 {
  padding-top: 16px;
}

.mg-l-pd-l-8 {
  margin-left: -8px;
  padding-left: 8px !important;
}

.btn-reset, .btn-cancel {
  margin-left: 8px;
}

.btn-delete:hover {
  color: #0056b3;
}

.btn-delete {
  color: #007bff;
}

.actions-group {
  display: flex;
}

.actions-group .btn-edit{
  display: block;
  margin-right: 8px;
}
